/*font icon*/
@font-face {
  font-family: "iconfont";
  src: url("./iconfont.eot?t=1568948336570");
  src: url("./iconfont.eot?t=1568948336570#iefix") format("embedded-opentype"),
    url("./iconfont.ttf?t=1568948336570") format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconplus:before {
  content: "\e616";
}

.iconminus:before {
  content: "\e6bd";
}

.icondarrow:before {
  content: "\e628";
}

.iconlarrow:before {
  content: "\e629";
}

.iconrarrow:before {
  content: "\e62a";
}

.iconuarrow:before {
  content: "\e62e";
}

.iconsuc:before {
  content: "\e62f";
}

.iconfail:before {
  content: "\e611";
}
